<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weatheria</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles/main.css">
</head>
<body background="images/background.jpg">
    <div class="logo">
        <img src="images/icon.png" alt="weather icon">
        <h2>Weatheria</h2>
    </div>
    <div class="container">
        <div class="top-bar">
            <form action="/getWeather" method="post">
                <input class="city-name" type="text" placeholder="City/Town......" name="city">
                <input class="submit-btn" type="submit" name="search" value="&#128269">
            </form>
        </div>

        <div class="mid-container">
            
            <!-- When Weather Data is received -->
            <% if(locals.weatherData && locals.state){ %>
            
                <h2 class="city-heading"><%= weatherData.name %>, <%= state %></h2>

                <div class="weather-main">
                    <div class="weather-icon">
                        <img src="http://openweathermap.org/img/w/<%= weatherData.weather[0].icon %>.png" alt="weather icon">
                    </div>
                    <div class="date-weather">
                        <% var options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' };
                        var today  = new Date(); %>

                        <!-- Date  -->
                        <p class="date"><%= today.toLocaleDateString("en-US", options) %></p>

                        <!-- Weather main -->
                        <p class="weather"><%= weatherData.weather[0].description %></p>
                    </div>
                </div>
                
                <!-- Temperature -->
                <p class="temp"><%= weatherData.main.temp %> <sup class="sup">&#8451</sup></p>

                <div class="sec-temp">
                    <!-- Feels Like -->
                    <h2 class="feels-like">Feels Like <%= weatherData.main.feels_like %><sup>&#176</sup></h2>

                    <!-- Max and Min Temp -->
                    <p class="min-max">Min Temp | Max Temp</p>
                    <p class="min-max"><%= weatherData.main.temp_min %><sup>&#176</sup>| <%= weatherData.main.temp_max %><sup>&#176</sup></p>
                </div>


                <!-- weather info -->
                <div class="weather-box">
                    <div class="info-box">
                        <img src="images/humidity.png" alt="humidity">
                        <div class="info">
                            <p>Humidity</p>
                            <p><%= weatherData.main.humidity %>%</p>
                        </div>
                    </div>
                    <div class="info-box">
                        <img src="images/pressure.png" alt="pressure">
                        <div class="info">
                            <p>Pressure</p>
                            <p><%= weatherData.main.pressure %>hPa</p>
                        </div>
                    </div>
                    <div class="info-box">
                        <img src="images/wind.png" alt="wind">
                        <div class="info">
                            <p>Wind Speed</p>

                            <% const speed = (weatherData.wind.speed * (18/5)).toFixed(2); %>
                            <p><%= speed %>km/h</p>
                        </div>
                    </div>
                    <div class="info-box">
                        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 24 24"><path opacity=".3" d="M12 6a9.77 9.77 0 0 0-8.82 5.5C4.83 14.87 8.21 17 12 17s7.17-2.13 8.82-5.5A9.77 9.77 0 0 0 12 6zm0 10c-2.48 0-4.5-2.02-4.5-4.5S9.52 7 12 7s4.5 2.02 4.5 4.5S14.48 16 12 16z"/><path d="M12 4C7 4 2.73 7.11 1 11.5C2.73 15.89 7 19 12 19s9.27-3.11 11-7.5C21.27 7.11 17 4 12 4zm0 13a9.77 9.77 0 0 1-8.82-5.5C4.83 8.13 8.21 6 12 6s7.17 2.13 8.82 5.5A9.77 9.77 0 0 1 12 17zm0-10c-2.48 0-4.5 2.02-4.5 4.5S9.52 16 12 16s4.5-2.02 4.5-4.5S14.48 7 12 7zm0 7a2.5 2.5 0 0 1 0-5a2.5 2.5 0 0 1 0 5z"/></svg>
                        <div class="info">
                            <p>Visibility</p>
                            <p><%= weatherData.visibility %>m</p>
                        </div> 
                    </div>
                </div>


                <div class="weather-data">
                    <h2>Weather Data of Dibrugarh</h2>
                    <!-- Sunrise -->
                    <div class="data-items">
                        <p>Sunrise</p>
                        <% const sunrise = new Date((weatherData.sys.sunrise)*1000).toLocaleTimeString(); %>
                        <p><%= sunrise %></p>
                    </div>

                    <!-- Sunset -->
                    <div class="data-items">
                        <p>Sunset</p>
                        <% const sunset = new Date((weatherData.sys.sunset)*1000).toLocaleTimeString(); %>
                        <p><%= sunset %></p>
                    </div>

                    <!-- wind degree -->
                    <div class="data-items">
                        <p>Wind Degree</p>
                        <p><%= weatherData.wind.deg %>&#176</p>
                    </div>

                    <!-- Sea Level -->
                    <div class="data-items">
                        <p>Sea Level</p>
                        <p><%= weatherData.main.sea_level %>hpa</p>
                    </div>

                    <!-- Latitude -->
                    <div class="data-items">
                        <p>Latitide</p>
                        <p><%= weatherData.coord.lat %></p>
                    </div>

                    <!-- Longitude -->
                    <div class="data-items">
                        <p>Longitude</p>
                        <p><%= weatherData.coord.lon %></p>
                    </div>
                </div>


            <!-- Incase of error -->
            <% } else if(locals.error){ %>
                <div class="message">
                    <p><%= error; %></p>
                </div>

            <!-- Default Case -->
            <% }else{ %>
                <div class="message">
                    <p>Please Enter the City/Town Name on the Search Bar in order to get Weather Data.</p>
                </div>
            <% } %>
        </div>
    </div>

    <footer>
        &#169 Weatheria. All rights reserved <%= new Date().getFullYear() %>
    </footer>
</body>
</html>